page-cart {
    .login-btn{
        background: linear-gradient(265deg,  map-get($colors, primary) , #8BC743);
        color: #FBFBFB;
        font-size: 16pt;
        height: 48px;
        position: relative;
        bottom: 0px;   
    }
    .coupon{
        margin: 5px 0px;
        font-size: 10pt;
        color: map-get($colors, secondary2 )
    }
    .total{
        margin:5px 0px; 
        color: map-get($colors , primary );
        .title{
            font-size: 18pt;
        }
        .price{
            font-size: 12pt;
        }
    }
    ion-footer{
        padding: 0px 30px;
    }
    .card{
        position : relative;
    }
    .prod-avatar{
        display: inline;
        float: right;
        img{
            width: 71pt !important;
            height: 71pt !important;
            border-radius: 10px !important;
            display: inline;
            margin-left: 10px;
        }
    }
    .card-content{
        padding: 0px;
    }
    .item-block{
        min-height: auto !important; 
    }
    .item{
        padding-right: 5px;
        .label {
            margin: 0 ;
            margin-top: 5px;
        }
    }
    .prod-data{
        .name{
            font-size: 15pt;
            color: black;
            padding: 3px;
        }
        .quan{
            font-size: 10pt;
            color: black;
            padding: 3px;
        }
        .price{
            position: absolute;
            bottom: 2px;
            right: 83pt;
        }
        .del{
            position: absolute;
            left: 10px;
            bottom: 5px;
            color: red;
            font-size: 10pt;
        }
        ion-icon{
            font-size: 1.5rem;
            margin: 2px;
            color: map-get($colors, secondary2 );
        }
    }
}
