page-new-password {
    ion-header {
        display: none;
    }
    ion-list {
        margin-bottom: 100px !important;
        margin-top: 20px !important;
    }
    .title{
        font-size: 14pt;
        padding-right: 5px;
    }
    .login-btn{
        background: linear-gradient(265deg,  map-get($colors, primary) , #8BC743);
        color: #FBFBFB;
        font-size: 16pt;
        height: 48px;
        position: relative;
        bottom: 0px;   
    }
    .list-inputs{
        margin: 15px;
        .list-header{
            padding-left: 0 !important;
            margin-bottom: 0px !important;  
            color: map-get($colors , primary );
            border: none;
            background: white !important;
            font-size: 1.8rem;
            .item{
                padding-left: 0px !important;
                
            }
            span{
                font-size: 1.4rem;
            }
        }
        .form{
            .item{
                // background: map-get($colors,  ) !important;
                margin-bottom: 5px;
                border-radius: 5px;
                border: solid 1px #CED0D2;
            }
            .item-select .label {
                // color: black;
                font-size: 1.4rem;
            }
        }
        
    }
}
