    // http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.address-popover .popover-content {
    width: 100px !important;
}
.back-button.show-back-button {
    color: map-get($colors, third ) !important;
}
.center{
    text-align: center !important;
}
.text-input {
    direction: rtl !important;
}
#rightmenu {
    .toolbar-content-md {
        text-align: center;
    }
    .toolbar-title {
        color: black; 
        font-size: 27pt !important; 
    }
    .menu-inner {
        width: 75%;
    }
    ion-list{
        margin-top: 10px;
    }
    .item-block {
        width: auto !important;
    }
    .item{
        font-size: 24pt;
        margin: 3px 10px !important;
        border-radius: 15px;
        ion-icon{
            font-size: 24pt;
            margin-left: 30px;
        }
    }
    .active-item{
        background: map-get($colors, third );
        color: white;
        ion-icon{
            color:white;
        }
    }
    .non-active-item{
        background: white;
        color: map-get($colors , secondary );
        ion-icon{
            color:map-get($colors , secondary );
        }
    }
}