page-add-ticket {
    .title{
        font-size: 14pt;
        color: black;
        padding: 0px 20px;
    }
    .content{
        font-size: 14pt;
        color: map-get($colors, secondary2 );
        padding: 0px 20px;
    }
    hr{
        margin: 0px 20px;
    }
    .list-inputs{
        margin: 15px;
        .list-header{
            padding-left: 0 !important;
            margin-bottom: 0px !important;  
            color: map-get($colors , primary );
            border: none;
            background: white !important;
            font-size: 1.8rem;
            .item{
                padding-left: 0px !important;
                
            }
            span{
                font-size: 1.4rem;
            }
        }
        .form{
            .item{
                margin-bottom: 5px;
                border-radius: 5px;
                border: solid 1px #CED0D2;
            }
            .item-select .label {
                font-size: 1.4rem;
            }
        }
    }
    .login-btn{
        background: linear-gradient(265deg,  map-get($colors, primary) , #8BC743);
        color: #FBFBFB;
        font-size: 16pt;
        height: 48px;
        position: relative;
        bottom: 0px;   
    }
}
