page-address-add {
    .list-inputs{
        margin: 15px;
        .list-header{
            padding-left: 0 !important;
            margin-bottom: 0px !important;  
            color: map-get($colors , primary );
            border: none;
            background: white !important;
            font-size: 1.8rem;
            .item{
                padding-left: 0px !important;
                
            }
            span{
                font-size: 1.4rem;
            }
        }
        .form{
            .item{
                margin-bottom: 5px;
                border-radius: 5px;
                border: solid 1px #CED0D2;
            }
            .item-select .label {
                font-size: 1.4rem;
            }
        }
    }
    .login-btn{
        background: linear-gradient(265deg,  map-get($colors, primary) , #8BC743);
        color: #FBFBFB;
        font-size: 16pt;
        height: 48px;
        position: relative;
        bottom: 0px;   
    }
    .map-title{
        margin-right: 15px;
        ion-icon{
            font-size : 14pt;
        }
        span{
            margin-right: 10px !important;
            font-size: 14pt;
        }
    }
    #map {
        height: 263pt;
        width: 100%;
        margin :15px 0px;
    }
}
